/*this is how you make comments in css*/ 
/*this is used to make a site wide change
you would copy this into your other html.index pages
if you want to make a color change for ex-the change is made on index.css page 
and goes to the index.html pages overall*/
body {
    font-family: "Allerta Stencil";
    color: #0b032d;
    background-color: #ffb997;
        }